<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">

<head th:replace="blog/part/head :: head">

    <link rel="stylesheet" type="text/css" href="/css/load.css">
    <style>
        @media screen and (min-width: 1200px) {
            #main {
                display: inline;
                float: left;
                width: 74.9999999999%;
                margin: 0 0.769230769230769%;
            }
        }
        @media screen and (min-width: 1199px) and (max-width: 1199px) {
            #main {
                display: inline;
                float: left;
                width: 74.9999999999%;
                margin: 0 0.769230769230769%;
            }
        }

    </style>
</head>


<body>

<div id="container">
    <header id="header" th:replace="blog/part/header :: header">
    </header>
    <div class="outer">

        <!-- 左边部分-->
        <aside id="profile">
            <!--个人基础信息-->
            <div class="inner profile-inner" th:replace="blog/left/base-of-me :: base_of_me"></div>

            <!--&lt;!&ndash;友情链接&ndash;&gt;-->
            <!--<div class="inner profile-inner" th:replace="blog/left/friend-link :: friend_link"></div>-->

        </aside>

        <section id="main">

            <!--<div id="loader-wrapper">-->
            <!--<div id="loader"></div>-->
            <!--<div class="loader-section section-left"></div>-->
            <!--<div class="loader-section section-right"></div>-->
            <!--<div class="load_title">正在加载EumJi站点....<br><span>V1.0</span></div>-->
            <!--</div>-->

            <div id="main-article">
                <article id="post-zuul-vs-nginx-performance" class="article article-type-post" itemscope="" itemprop="blogPost">
                <div class="article-inner">

                    <header class="article-header">


                        <h1 class="article-title" itemprop="name">
                            <span id="article-title" th:text="${article.title}"></span>
                        </h1>



                        <div class="article-meta">

                            <div class="article-date">
                                <i class="fa fa-calendar"></i>
                                <a th:href="'/article/details/'+${article.articleId}" id="article-url">
                                    <time datetime="2017-04-03" itemprop="datePublished" th:text="${#dates.format(article.createTime,'yyyy-MM-dd')}"></time>
                                </a>
                            </div>


                            <!--<div class="article-category" style="text-transform: none;">-->
                            <!--<i class="fa fa-folder"></i>-->
                            <!--&lt;!&ndash;th:hreftypegory/details/'+${articleList.categoryId}"&ndash;&gt;-->
                            <!--<a class="article-category-link" href="javascript:void(0);" th:data-id="${article.categoryId}" th:text="${article.categoryName}" style="cursor: pointer"></a>-->
                            <!--</div>-->

                            <!--<div class="article-tag" style="text-transform: none;" th:each="tag : ${article.tagList}">-->
                            <!--<i class="fa fa-tag"></i>-->
                            <!--&lt;!&ndash;th:href="'/tag/details/'+${tagListStat.tagId}"&ndash;&gt;-->
                            <!--<a class="article-tag-link" th:data-id="${tag.tagId}" th:text="${tag.tagName}" style="cursor: pointer"></a>-->
                            <!--</div>-->
                        </div>


                    </header>


                    <div class="article-entry" itemprop="articleBody" lg-uid="lg0">
                        <div id="article-content">
                            <textarea id="append-test" style="display:none;" th:utext="${article.content}"></textarea>
                        </div>
                    </div>


                    <footer class="article-footer">
                        <div id="socialShare" class="socialShare active" th:data-content="${article.description}"
                             th:data-title="${article.title}" th:data-url="'/article/details/'+${article.articleId}"
                             th:data-desc="${article.description}"></div>
                    </footer>


                </div>


                    <nav id="article-nav">

                        <a th:if="${lastArticle != null}" th:href="'/article/details/'+${lastArticle.articleId}"
                           id="article-nav-newer" class="article-nav-link-wrap">
                            <strong class="article-nav-caption">上一篇</strong>
                            <div class="article-nav-title" th:text="${lastArticle.title}"></div>
                        </a>


                        <a th:if="${nextArticle != null}" th:href="'/article/details/'+${nextArticle.articleId}"
                           id="article-nav-older" class="article-nav-link-wrap">
                            <strong class="article-nav-caption">下一篇</strong>
                            <div class="article-nav-title" th:text="${nextArticle.title}"></div>
                        </a>

                    </nav>


                <div id="pagination" hidden="hidden"></div>
            </article>
            </div>

            <!--PC和WAP自适应版  畅言社区评论插件  需备案通过才可用 -->
            <div id="SOHUCS" th:sid="${article.articleId}"></div>
            <script type="text/javascript">
                (function(){
                    var appid = 'cysYIxwh2';
                    var conf = '2237c67c17fffb6d0b4cd1dd4a0b0b44';
                    var width = window.innerWidth || document.documentElement.clientWidth;
                    if (width < 960) {
                        window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>');
                    } else {
                        var loadJs=function(d,a){
                            var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;
                            var b=document.createElement("script");b.setAttribute("type","text/javascript");
                            b.setAttribute("charset","UTF-8");
                            b.setAttribute("src",d);
                            if(typeof a==="function"){
                                if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>


        </section>

        <div id="toTop" class="fa fa-angle-up"></div>
    </div>

    <footer id="footer" th:replace="blog/part/footer :: footer"></footer>

    <script src="/js/jquery.min.js"></script>

    <script src="/js/insight.js"></script>
    <script src="/js/lightgallery.min.js"></script>
    <script src="/js/jqPaginator.min.js"></script>


    <script src="/admin/lib/prettify.min.js"></script>
    <script src="/admin/lib/marked.min.js"></script>

    <script src="/admin/lib/raphael.min.js"></script>
    <script src="/admin/lib/underscore.min.js"></script>
    <script src="/admin/lib/sequence-diagram.min.js"></script>
    <script src="/admin/lib/flowchart.min.js"></script>

    <script src="/admin/lib/jquery.flowchart.min.js"></script>
    <script src="/admin/js/editormd.js"></script>

    <script src="/js/main.js"></script>

    <script src="/js/article-content.js"></script>
    <script src="/js/article.click.js"></script>

    <script src="/js/share.js"></script>

</div>

</body>
</html>