<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:replace="blog/part/head :: head"></head>
<body>

<div id="main-article"></div>

<script src="/js/jquery.min.js"></script>

<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<script src="/admin/js/plugins/chosen/chosen.jquery.js"></script>
<!-- Custom Scripts -->
<script type="text/javascript">
    /*初始化文章分页信息*/
    $(function () {
        loadList('article', null);
    })


    /*将加载文章,文章分类,标签分类重构成一个方法*/
    function loadList(type, id) {
        var url = "";
        if (type == "article") {
            url = '/' + type
        }
        else {
            url = '/' + type + "/" + id;
        }
        $.ajax({
            type: 'GET',
            url: url,
            success: function (data) {
                $("#main-article").html(data);
                //初始化文章分页信息
                //初始化文章
                /*分享初始化*/
                $(".socialShare").socialShare({
                    content: "EumJi在IT,生活,音乐方面的分享",
                    url: "www.eumji025.com/",
                    title: $("#article-title").text(),
                    summary: 'Eumji个人博客分享,欢迎指教',
                    pic: 'http://of8rkrh1w.bkt.clouddn.com/2017/4/21/touxiang.jpg'
                });
                $('#loader-wrapper .load_title').remove();
            }
        });
    }
</script>
<script src="/js/page.js"></script>

</body>
</html>