<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:replace="blog/part/head :: head"></head>
<body>

<div id="main-article"></div>
<div style="margin-top: -29px;height:50px">
    <div id="pagination" data-type="article" class="pagination" style="float: right"/>
</div>

<script src="/js/jquery.min.js"></script>
<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>

<script src="/js/jqPaginator.min.js"></script>
<script src="/admin/js/plugins/chosen/chosen.jquery.js"></script>
<!-- Custom Scripts -->

<script src="/js/index.js"></script>
<!--<script src="/js/main.js"></script>-->
<script src="/js/article.click.js"></script>

<script src="/js/share.js"></script>
</body>
</html>