<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:replace="blog/part/head :: head"></head>

<body>


<div id="main-article" th:insert="blog/right/typeSummary :: type-summary">
</div>
<div style="margin-top: -29px;height:50px">
    <div style="float: left;display: none" class="pagination">共
        <span id="total-num"></span>
        条记录
        <span id="current-page"></span>
        /
        <span id="total-page"></span>
    </div>

    <div id="pagination" data-type="article" class="pagination" style="float: right">
    </div>
</div>


</body>
</html>