<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/pagination.css">
<div th:fragment="page">

    <div style="margin-top: -29px;height:50px">
        <div id="pagination" class="pagination" style="float: right"/>
    </div>

    <!-- 分页取值 -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var pages = [[${page}]];
        console.log(pages);
        console.log(pages.size);
        /*]]>*/
        $.jqPaginator('#pagination', {
            totalPages: pages.pages,  //设置分页的总页数
            totalCounts: pages.total, //设置分页的总条目数
            visiblePages: 3, //设置最多显示的页码数
            currentPage: pages.current, //设置当前的页码
            pageSize: pages.size,
            first: '<li class="first"><a href="javascript:;">首页</a></li>',
            prev: '<li class="prev"><a href="javascript:;">上一页</a></li>',
            next: '<li class="next"><a href="javascript:;">下一页</a></li>',
            last: '<li class="last"><a href="javascript:;">末页</a></li>',
            page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
            onPageChange: function (num, type) { //换页方法

                console.log(123);
                var type = $("#pagination").data("type");
                // loadList('article', id);
                // 当前第几页
                $("#current-page").text(3);
                $(".chosen-select").chosen({
                    max_selected_options: 5,
                    no_results_text: "没有找到",
                    allow_single_deselect: true
                });
                $(".chosen-select").trigger("liszt:updated");
            }
        });
    </script>

</div>
</html>

